.social-links-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links-list li {
  height: 5vh;
  margin: 0rem 0.25rem 0rem 0.25rem;
  width: 5vh;
}

.social-links-list li a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.social-links-list li a img {
  filter: invert(100%);
  height: 60%;
  width: 60%;
}