#about-container {
  background-color: #474747;
  height: fit-content;
}

#about {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 900px;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

#about h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}

#about > p {
  color: #FCF8E8;
}

#about > ul {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

#about > ul > li {
  background-color: #2a2a2a;
  border-radius: 15px;
  color: #FCF8E8;
  font-size: 1rem;
  font-weight: 700;
  list-style-type: none;
  margin-right: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #about {
    text-align: center;
  }

  #about > ul {
    justify-content: center;
  }
}